@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto&display=swap');
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
    flex: 1;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: #FF6767;
    justify-content: space-between;
    padding: 8px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo > button{
    border: none;
    background-color: transparent;
    color: whitesmoke;
    padding: 5px;
    transition: backgtound-color 1s ease;
}

.logo > button:hover{
    border-radius: 50%;
    opacity: 0.9;
}

.logo > button:active{
    border-radius: 50%;
    opacity: 0.7;
}

.logo > h1{
    align-self: start;
}

.about-section >a {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
}     

input{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: none;
}

form > button{
    font-size: 28px;
    font-weight: 400;
    color: wheat;
    background-color: #a69595;
    border: none;
    border-radius: 12px;
    height: auto;
    cursor: pointer;
    margin-left: -28px;
    overflow: hidden;
}

form > button:active {
    border: none;
}

form > button:hover {
    opacity: 0.8;
}

header > form, label{
    display: flex;
    width: 800px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 20px;
    row-gap: 20px;
    margin-top: 80px;
}

.container > p{
    margin: 0;
}

.container-items{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
}

form > textarea {
    margin-bottom: 8px;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    border: none;
    resize: none;
}

form > textarea:disabled{
    color: inherit;
}

.edit-buttons{
    display: flex;
    gap: 10px;

}

.edit-buttons > .Delete{
    background-color: rgb(192, 54, 54);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.edit-buttons > .Edit{
    background-color: rgb(21, 163, 54);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.edit-buttons > .submit{
    background-color: rgb(4, 18, 7);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.edit-buttons > button:hover{
    opacity: 0.9;
}

footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    color: whitesmoke;
}

footer > p{
    font-family: 'Roboto', sans-serif;
    display: block;
}


nav{
    position: fixed;
    background-color: #FF6767;
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    margin-top: 96px;
    height: 92vh;
    left: 0;
    top: 0;
    width: 20%;
    visibility: hidden;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.open-nav {
    visibility: unset;
    opacity: 1;
    transform: translateX(0);
}

.utils{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}